<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication configSource="system.web-authentication.config"/>
    <authorization configSource="system.web-authorization.config"/>
    <membership configSource="system.web-membership.config"/>
    <profile configSource="system.web-profile.config"/>
    <roleManager configSource="system.web-rolemanager.config"/>
    <machineKey configSource="system.web-machinekey.config"/>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="bpo" path="/bpo.aspx" verb="GET" requireAccess="Script" type="BasicPlatform.Client.AuthHandler, BasicPlatform.Client"/>
    </handlers>
  </system.webServer>
  <location path="oldlogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="connect.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
