<?xml version="1.0"?>
<pages clientIDMode="Static" enableViewStateMac="false" enableViewState="false" validateRequest="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="4.0">
  <controls>
    <add assembly="BasicPlatform" namespace="BasicPlatform.Core" tagPrefix="uc" />
  </controls>
  <namespaces>
    <add namespace="MongoDB.Bson"/>
    <add namespace="BasicPlatform.Web.Models"/>
    <add namespace="BasicPlatform.Core"/>
  </namespaces>
</pages>