<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings configSource="connectionstrings.config" />
  <appSettings configSource="appsettings.config" />
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation configSource="system.web-compilation.config" />
    <pages configSource="system.web-pages.config" />
    <machineKey configSource="system.web-machinekey.config" />
    <httpRuntime configSource="system.web-httpruntime.config" />
    <customErrors configSource="system.web-customerrors.config" />
    <authentication configSource="system.web-authentication.config" />
    <authorization configSource="system.web-authorization.config" />
    <membership configSource="system.web-membership.config" />
    <roleManager configSource="system.web-rolemanager.config" />
    <sessionState cookieless="UseCookies" mode="Off" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="KickOff" stopProcessing="true">
          <match url="^ping\.aspx$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="404" statusReason="File Not Found" statusDescription="File Not Found" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="Session" />
    </modules>
  </system.webServer>
  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="logout.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ping.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>