<?xml version="1.0"?>
<configuration>
  <location path="Add.aspx">
    <appSettings>
      <add key="actions" value="AddApps"/>
    </appSettings>
  </location>
  <location path="Delete.aspx">
    <appSettings>
      <add key="actions" value="DeleteApps"/>
    </appSettings>
  </location>
  <location path="AddRole.aspx">
    <appSettings>
      <add key="actions" value="CreateRolesOfApps"/>
      <add key="app" value="$" />
    </appSettings>
  </location>
  <location path="RemoveUser.aspx">
    <appSettings>
      <add key="actions" value="RemoveUsersOfApps"/>
      <add key="app" value="id" />
    </appSettings>
  </location>
  <location path="RemoveRole.aspx">
    <appSettings>
      <add key="actions" value="RemoveRolesOfApps"/>
      <add key="app" value="id" />
    </appSettings>
  </location>
  <location path="RemoveAction.aspx">
    <appSettings>
      <add key="actions" value="RemoveActionsOfApps"/>
      <add key="app" value="id" />
    </appSettings>
  </location>
  <location path="Connect.aspx">
    <appSettings>
      <add key="actions" value="ConnectUsersOfApps"/>
      <add key="app" value="id" />
    </appSettings>
  </location>
</configuration>
