<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="nav" value="2"/>
  </appSettings>
  <location path="add.aspx">
    <appSettings>
      <add key="actions" value="AddApps"/>
    </appSettings>
  </location>
  <location path="edit.aspx">
    <appSettings>
      <add key="actions" value="EditApps"/>
      <add key="app" value="id"/>
    </appSettings>
  </location>
  <location path="default.aspx">
    <appSettings>
      <add key="actions" value="ViewApps,EditActions"/>
    </appSettings>
  </location>
</configuration>
