<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="app" value="id"/>
    <add key="url" value="Users.aspx?id={0}"/>
  </appSettings>
  <location path="Default.aspx">
    <appSettings>
      <add key="actions" value="ViewUsersOfApps,CreateUsersOfApps,AppendUsersOfApps,RemoveUsersOfApps,ViewActionsOfApps,CreateActionsOfApps,EditActionsOfApps,RemoveActionsOfApps,ViewRolesOfApps,CreateRolesOfApps,AppendRolesOfApps,RemoveRolesOfApps" />
    </appSettings>
  </location>
  <location path="Actions.aspx">
    <appSettings>
      <add key="actions" value="CreateActionsOfApps,EditActionsOfApps,RemoveActionsOfApps" />
      <remove key="url"/>
      <add key="url" value="Roles.aspx?id={0}"/>
    </appSettings>
  </location>
  <location path="AppendRoles.aspx">
    <appSettings>
      <add key="actions" value="AppendRolesOfApps"/>
    </appSettings>
  </location>
  <location path="AppendUsers.aspx">
    <appSettings>
      <add key="actions" value="AppendUsersOfApps" />
    </appSettings>
  </location>
  <location path="EditUser.aspx">
    <appSettings>
      <add key="actions" value="EditUsersOfApps+ViewRolesOfApps,EditUsersOfApps+CreateRolesOfApps,EditUsersOfApps+AppendRolesOfApps,EditUsersOfApps+RemoveRolesOfApps,EditUsersOfApps+ConnectUsersOfApps" />
    </appSettings>
  </location>
  <location path="CreateAction.aspx">
    <appSettings>
      <add key="actions" value="CreateActionsOfApps"/>
    </appSettings>
  </location>
  <location path="CreateRole.aspx">
    <appSettings>
      <add key="actions" value="CreateRolesOfApps"/>
    </appSettings>
  </location>
  <location path="CreateUser.aspx">
    <appSettings>
      <add key="actions" value="CreateUsersOfApps" />
    </appSettings>
  </location>
  <location path="EditAction.aspx">
    <appSettings>
      <add key="actions" value="EditActionsOfApps"/>
    </appSettings>
  </location>
  <location path="EditAppAction.aspx">
    <appSettings>
      <add key="actions" value="EditActionsOfApps+ViewRolesOfApps,EditActionsOfApps+CreateRolesOfApps,EditActionsOfApps+AppendRolesOfApps,EditActionsOfApps+RemoveRolesOfApps"/>
    </appSettings>
  </location>
  <location path="Roles.aspx">
    <appSettings>
      <add key="actions" value="CreateRolesOfApps,EditRolesOfApps,AppendRolesOfApps,RemoveRolesOfApps"/>
      <remove key="url"/>
      <add key="url" value="~/"/>
    </appSettings>
  </location>
    <location path="EditRole.aspx">
    <appSettings>
      <add key="actions" value="EditRolesOfApps"/>
      <remove key="url"/>
      <add key="url" value="~/"/>
    </appSettings>
  </location>
  <location path="Users.aspx">
    <appSettings>
      <add key="actions" value="CreateUsersOfApps,AppendUsersOfApps,RemoveUsersOfApps"/>
      <remove key="url"/>
      <add key="url" value="Actions.aspx?id={0}"/>
    </appSettings>
  </location>
</configuration>
