<?xml version="1.0"?>
<configuration>
  <location path="Add.aspx">
    <appSettings>
      <add key="actions" value="AddUsers"/>
    </appSettings>
  </location>
  <location path="Delete.aspx">
    <appSettings>
      <add key="actions" value="DeleteRoles"/>
    </appSettings>
  </location>
</configuration>
