<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="nav" value="1"/>
  </appSettings>
  <location path="add.aspx">
    <appSettings>
      <add key="actions" value="AddUsers"/>
    </appSettings>
  </location>
  <location path="edit.aspx">
    <appSettings>
      <add key="actions" value="EditUsers"/>
    </appSettings>
  </location>
  <location path="default.aspx">
    <appSettings>
      <add key="actions" value="ViewUsers,AddUsers,EditUsers"/>
    </appSettings>
  </location>
</configuration>
