<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="nav" value="1"/>
  </appSettings>
  <location path="add.aspx">
    <appSettings>
      <add key="actions" value="AddRoles"/>
    </appSettings>
  </location>
  <location path="edit.aspx">
    <appSettings>
      <add key="actions" value="EditRoles"/>
    </appSettings>
  </location>
  <location path="default.aspx">
    <appSettings>
      <add key="actions" value="ViewRoles,AddRoles,EditRoles"/>
    </appSettings>
  </location>
</configuration>
