<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="bpo.api" value="http://ops.oa.bitauto.com/auth"/>
  <add key="bpo.key" value="532face816796e1e600bceb2"/>
  <add key="bpo.secret" value="!#3dF^72DzyS"/>
  <add key="bpo.permission" value=""/>
  <add key="bpo.userprocessor" value=""/>
  <add key="bpo.groupprocessor" value=""/>
</appSettings>
</configuration>